<?xml version="1.0" encoding="utf-8"?>
<component name="Settings" extends="Group" focusable="true">
  <script type="text/brightscript" uri="pkg:/source/Color.brs" />
  <script type="text/brightscript" uri="pkg:/components/pages/Settings/Settings.brs" />
  <interface>
    <field id="closeRequested" type="integer" />
    <function name="openSettings" />
  </interface>
</component>
